<!DOCTYPE html>
<html lang='ru'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <title>Bubblewell</title>
    <link href='./stylesheets/style.css' rel='stylesheet'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js'></script>
    <script src='./javascripts/main.js'></script>
  </head>
  <body>
    <div class='wrapper'>
      <div class='popup'>Zaga</div>
      <ul class='offer-menu-bar'>
        <li class='filter'>
          <a>Все</a>
        </li>
        <li class='filter'>
          <a>У друзей</a>
        </li>
        <li class='category'>
          <button>Спорт</button>
        </li>
        <li></li>
        <li>
          <input>
          <span></span>
        </li>
      </ul>
      <div class='offers'></div>
    </div>
  </body>
</html>
