<!DOCTYPE html>
<html lang='ru'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <title>Bubblewell</title>
    <link href='./stylesheets/style.css' rel='stylesheet'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js'></script>
    <script src='./javascripts/main.js'></script>
  </head>
  <body>
    <div class='wrapper'>
      <div class='popup'></div>
      <ul class='offer-menu-bar'>
        <li class='filter'>
          <a>Все</a>
        </li>
        <li class='filter'>
          <a>У друзей</a>
        </li>
        <li class='category'>
          <a>
            Спорт
            <p class='dr-icon'>&#xE040</p>
          </a>
        </li>
        <li class='message'>
          <span>Узнай о предложениях друзей или <a>поделись</a> своими</span>
        </li>
        <li class='search'>
          <div>
            <input class='search-field' placeholder='Название или Имя' type='search'>
            <span class='search-btn'>&#xE116</span>
          </div>
        </li>
      </ul>
      <div class='offers'>
        <div class='offer-temp'>
          <img>
          <div class='info'>
            <h2>Оформление интерьера</h2>
            <div class='tags'>
              <span class='theme'>Недвижимость</span>
              <span class='date'>Всегда актуально</span>
              <span class='geo'>Москва</span>
            </div>
            <div class='counters'>
              <span class='like-counter'>Нравится X</span>
              <span class='comments-counter'>Коментариев Y</span>
              <span class='feeds-counter'>Отзывов Z</span>
              <span class='adds-counter'>Добавили к себе XYZ</span>
            </div>
          </div>
          <div class='comments-panel'>
            <div class='author'>
              <img class='avatar'>
              <a class='user'>Гарош</a>
              <span>предлагает</span>
            </div>
            <div class='comments'>
              <div class='comments-item'>
                <img class='avatar'>
                <span class='comment'>В Березовском можно в три раза дешевле взять</span>
              </div>
              <div class='comments-item'>
                <img class='avatar'>
                <span class='comment'>Приезжай к нам в Голливду блаблабла</span>
              </div>
              <div class='comments-item'>
                <img class='avatar'>
                <span class='comment'>ЛокТар Огар!</span>
              </div>
            </div>
            <div class='add-comment'>
              <img class='avatar'>
              <input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
