!!! 5
%html{lang: "ru"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %title Bubblewell
    %link{rel: "stylesheet", href: "./stylesheets/style.css"}
    %script{src: "./javascripts/jquery-3.1.1.min.js"}
    %script{src: "./javascripts/main.js"}
  %body
    .popup-bg
      .popup
    .wrapper
      %ul.offer-menu-bar
        %li.filter
          %a Все
        %li.filter
          %a У друзей
        %li.category
          %a
            Спорт
            %p.dr-icon &#xE040
        %li.message
          %span Узнай о предложениях друзей или <a>поделись</a> своими
        %li.search
          %div
            %input.search-field{type: "search", placeholder: "Название или Имя"}
            %span.search-btn &#xE116
      .offers
