<!DOCTYPE html>
<html lang='ru'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <title>Bubblewell</title>
    <link href='./stylesheets/style.css' rel='stylesheet'>
    <script src='./javascripts/jquery-3.1.1.min.js'></script>
    <script src='./javascripts/main.js'></script>
  </head>
  <body>
    <div class='wrapper'>
      <div class='popup'></div>
      <ul class='offer-menu-bar'>
        <li class='filter'>
          <a>Все</a>
        </li>
        <li class='filter'>
          <a>У друзей</a>
        </li>
        <li class='category'>
          <a>
            Спорт
            <p class='dr-icon'>&#xE040</p>
          </a>
        </li>
        <li class='message'>
          <span>Узнай о предложениях друзей или <a>поделись</a> своими</span>
        </li>
        <li class='search'>
          <div>
            <input class='search-field' placeholder='Название или Имя' type='search'>
            <span class='search-btn'>&#xE116</span>
          </div>
        </li>
      </ul>
      <div class='offers'></div>
    </div>
  </body>
</html>
