{{#each offers}}
    <div id="{{offerID}}" class="offer">

        <img src="{{image}}" class="image">

        <div class="info">
            <h2>{{name}}</h2>
            <div class="tags">
                <span class="theme">{{type}}</span>
                <span class="date">Всегда актуально</span>
                <span class="geo">Москва</span></div>
            <div class="counters">
                <span class="like-counter">Нравится X</span>
                <span class="comments-counter">Коментариев Y</span>
                <span class="feeds-counter">Отзывов Z</span>
                <span class="adds-counter">Добавили к себе XYZ</span></div>
        </div>
        <div class="comments-panel">
            <div class="author">
                <img class="avatar">
                <a class="user">Гарош</a>
                <span>предлагает</span></div>
            <div class="comments">
                {{#if comments}}
                    <div class="comments-item">
                        <img class="avatar">
                        <span class="comment">В Березовском можно в три раза дешевле взять</span>
                    </div>
                    <div class="comments-item">
                        <img class="avatar">
                        <span class="comment">Приезжай к нам в Голливду блаблабла</span>
                    </div>
                    <div class="comments-item">
                        <img class="avatar">
                        <span class="comment">ЛокТар Огар!</span>
                    </div>
                {{/if}}
            </div>
            <div class="add-comment">
                <img class="avatar">
                <input>
            </div>
        </div>
    </div>
{{/each}}