<div class="popup-content">
    <span class="popup-close">Закрыть <span>x</span></span>

    <div class="row with-border">
        <div class="avatar">
            <img src="http://cs6.pikabu.ru/images/big_size_comm/2015-01_1/14203017957828.jpg"/>
        </div>
    </div>
    <div class="row"> <!-- CCLEARFIX --->
        <div class="left-column">
            <h3>ХУИТА</h3>
            <span class="offer-type">DWASDASDSADASDAS</span>
            <div class="gradient">
                <img src="http://www.sunhome.ru/i/wallpapers/61/pozitivnie-kartinki.orig.jpg" width="100%">
            </div>
            <div class="description">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum."
            </div>
        </div>
        <div class="right-column">
            <div class="buttons">
                <span>Добавить к себе</span>
                <span>Мне нравитЬся</span>
                <span>Комментировать</span>
            </div>
        </div>
    </div>
    <div class="feeds row">
        <div class="feed">
            <div class="avatar-wrapper">
                <div class="avatar">
                    <img src="http://cs6.pikabu.ru/images/big_size_comm/2015-01_1/14203017957828.jpg"/>
                </div>
            </div>
            <div class="text">
                XUEVOE MESATO
            </div>
        </div>
        <div class="feed">
            <div class="avatar-wrapper">
                <div class="avatar">
                    <img src="http://cs6.pikabu.ru/images/big_size_comm/2015-01_1/14203017957828.jpg"/>
                </div>
            </div>
            <div class="text">
                XUEVOE MESATO
            </div>
        </div>
        <div class="feed">
            <div class="avatar-wrapper">
                <div class="avatar">
                    <img src="http://cs6.pikabu.ru/images/big_size_comm/2015-01_1/14203017957828.jpg"/>
                </div>
            </div>
            <div class="text">
                XUEVOE MESATO
            </div>
        </div>
        <div class="feed">
            <div class="avatar-wrapper">
                <div class="avatar">
                    <img src="http://cs6.pikabu.ru/images/big_size_comm/2015-01_1/14203017957828.jpg"/>
                </div>
            </div>
            <div class="text">
                XUEVOE MESATO
            </div>
        </div>
    </div>
</div>
