.offer {
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  padding: 1.5em;
  margin: 0 0 1.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  vertical-align: baseline;
  overflow: hidden;
  width: 220px;
}

.offer .image{
  margin: -1.5em;
  max-height: 400px;
  margin: 0 auto;
  display: block;
}

.info {
  height: 145px;
}

.comments {
  background-color: white;
}
.comments-item {
  font-size: 11pt;
  font-family: Arial;
  height: 35px;
  background-color: lightsteelblue;
  padding: 5px 0 0 13px;
  line-height: 50%;
}

.avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px double lightgrey;
  background-color: white;
  vertical-align: middle;
}