$offerWidth: 220px;

.offer {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  margin: 0 0 1.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  vertical-align: baseline;
  overflow: hidden;
  width: $offerWidth;
  .hover {
    div {
      background-color: #abc9e8;
      cursor: pointer;
    }
    position: absolute;
    z-index: 50;
    top: 0px;
    display: none;
    width: 100%;
    color: #f5f8fc;
    font-family: "PF Agora Sans Pro";
    font-size: 10pt;
    text-shadow: 0 0 0 #f5f8fc;
    text-align: center;
    .buttons {
      padding: 0;
      width: 100%;
      position: absolute;
      top: -20px;
      z-index: 50;
      font-family: LigatureSymbols;
      color: #b7b7b7;
      font-size: 30pt;
      list-style: none;
      display: table;
      li {
        display: table-cell;
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }
}
.offer:hover {
  border: 1px solid #abc9e8;
  box-shadow: 2px -2px rgba(240,240,240, 100%);
  .hover {
    display: block;
  }
}


.offer .image{
  position: relative;
  margin:auto;
  min-height: 40px;
  width: 100%;
  display: block;
}
.image div {
  width: 220px;
}

.info {
  position: relative;
  font-family: Arial;
  width: $offerWidth - 30px;
  padding: 15px 15px 5px 15px;
  height: 145px;
  .name {
    font-weight: bold;
    font-size: 10pt;
    padding-bottom: 15px;
  }
  .tags {
    color: #a8a8a8;
    margin-top: 15px;
    font-size: 8.5pt;
    .theme .date .geo {
      width: 100%;
      display: block;
    }
  }
  .counters {
    span {
      cursor: pointer;
    }
    position: absolute;
    bottom: 10px;
    color: #a8a8a8;
    font-size: 8.5pt;
    margin-bottom: -5px;
  }
}

.comments-panel {
  background-color: #f1f1f1;
  font-size: 10pt;
  width: 100%;
  .author {
    border-bottom: 1px solid #d7d7d7;
    height: 40px;
    padding: 5px 0 0 15px;
    div {
      display: inline-block;
      img {
        margin-bottom: 15px;
      }
    }
    div:last-child {
      padding-left: 12px;
    }
    a {
      color: #5574ad;
      cursor: pointer;
      font-family: "PF Agora Sans Pro XThin";
      text-shadow: 0px 0px 0px #5574ad;
    }
    span {
      font-family: Arial;
      display: block;
      font-style: italic;
      cursor: default;
      color: #a8a8a8;
    }
  }
  .comments {
    display: none;
  }
  .comments-item {
    border-bottom: 1px solid #d7d7d7;
    font-size: 10pt;
    
    font-family: Arial;
    height: 40px;
    padding: 5px 0 0 15px;
    line-height: 50%;
    text-shadow: 0px 0px 0px black;
    .comment {
      padding-left: 12px;
      line-height: 40px;
    }
  }
  .avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px double lightgrey;
    background-color: white;
    vertical-align: middle;
    img {
      margin: auto;
      max-height: 25px;
    }
  }
  .add-comment {
    height: 40px;
    display: none;
  }
}