.popup-bg {
  z-index: 100;
  display: none;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
}

.popup {
  overflow: auto;
  height: 800px;
  margin: 40px auto 0px auto;
  width: 810px;
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
  .left-column {
    float: left;
    width: 65%;
    border-right: 1px solid lightgrey;
    margin-bottom: -10px;
    padding-right: 20px;
    padding-left: 40px;
  }
  .right-column {
    float: right;
    width: 30%;
    .buttons {
      margin-top: 78px;
      span {
        display: block;
        background: linear-gradient(#d4d4d4, #e8e8e8, #f1f1f1);
        margin: 5px auto;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        max-width: 70%;
        cursor: pointer;
        border: 1px solid lightgray;
      }
    }
  }
  .gradient {
    background-image: linear-gradient(0deg, rgba(198, 83, 165, .95) 0%, rgba(198, 86, 51, .95) 100%);
    mask-image: linear-gradient(0deg, transparent 0%, rgb(0, 0, 0) 100%);
  }
  h3 {
    font-weight: bold;
    font-size: 24px;
    margin: 25px 0 0 0;
  }
  .offer-type {
    color: lightgrey;
    display: inline-block;
    margin-bottom: 7.5px;
  }
  .avatar {
    height: 50px;
    width: 50px;
  }
  .description {
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .feeds {
    width: 100%;
    background: #d7d7d7;
    margin-top: 10px;
    .feed {
      content: "";
      display: table;
      clear: both;
    }
    .avatar-wrapper {
      width: 50px;
      float: left;
    }
    .text {
      width: calc(100% - 50px);
      float: left;
    }
  }
  .add-feed textarea {
    width: 645px;
    height: 55px;
  }
}

.clearfix:after {
  overflow: auto;
  content: "";
  display: table;
  clear: both;
}

.popup-close {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  span {
    font-family: monospace;
    font-size: 18px;
  }
}

.row {
  margin: -10px;
  padding: 10px;
}

.with-border {
  border-bottom: 1px solid lightgrey;
}

.row:after, .feed {
  content: "";
  display: table;
  clear: both;
}

.scroll {
  overflow: hidden;
}

