body {
  width: 100%;
  margin: 0;
  background-color: lightsteelblue; }

.wrapper {
  width: 974px;
  margin: 0 auto;
  padding: 18px 33px; }

.popup {
  display: none; }

@font-face {
  font-family: 'LigatureSymbols';
  src: url("./fonts/LigatureSymbols-2.07.eot");
  src: url("./fonts/LigatureSymbols-2.07.eot?#iefix") format("embedded-opentype"), url("./fonts/LigatureSymbols-2.07.woff") format("woff"), url("./fonts/LigatureSymbols-2.07.ttf") format("truetype"); }

.offer-menu-bar {
  width: 100%;
  height: 54px;
  list-style: none;
  display: table;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid darkgrey;
  border-radius: 8px;
  text-shadow: 0px 0px 0px #5574ad;
  font-family: "PF Agora Sans Pro XThin";
  font-size: 11pt; }
  .offer-menu-bar li {
    display: table-cell;
    vertical-align: middle; }
  .offer-menu-bar a {
    width: inherit;
    display: block;
    cursor: pointer; }

.filter {
  color: #5574AD;
  text-shadow: 0px 0px 0px #5574ad; }
  .filter a {
    line-height: 25px;
    border-right: 1px dashed #e6e6e6;
    text-align: center; }
    .filter a:first-child {
      padding-right: 5px; }
  .filter:first-child {
    width: 30px;
    padding: 0 9px 0 18px; }
  .filter:last-child {
    width: 70px;
    padding: 0 10px 0 10px; }

.category {
  height: 25px;
  width: 80px;
  padding-left: 15px;
  vertical-align: middle; }
  .category p {
    display: block;
    position: absolute;
    right: 10px;
    top: -8px;
    font-family: 'LigatureSymbols'; }
  .category a {
    position: relative;
    display: block;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    height: inherit;
    padding: 5px 10px 0 10px;
    border-radius: 5px;
    background: -webkit-linear-gradient(#dd3c9d, #9e2385);
    background: linear-gradient(#dd3c9d, #9e2385);
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .category a:hover {
      background: -webkit-linear-gradient(#9e2385, #dd3c9d);
      background: linear-gradient(#9e2385, #dd3c9d); }
    .category a:active {
      background: -webkit-linear-gradient(#ca339b, #9e2385);
      background: linear-gradient(#ca339b, #9e2385); }

.message {
  font-size: 14pt;
  padding-left: 35px; }
  .message a, .message span {
    display: inline-block; }
  .message a {
    text-shadow: 0px 0px 0px #5574ad;
    color: #5574ad;
    text-decoration: none;
    border-bottom: 1px dotted #5574ad;
    line-height: 11pt; }

.search div {
  position: relative;
  color: #b8b8b8;
  border: 1px solid #b8b8b8;
  border-radius: 6px;
  height: 25px;
  margin: 0 15px 0 0;
  min-height: 20px; }
  .search div .search-field {
    font-style: italic;
    position: relative;
    top: -6px;
    left: 5px;
    width: 195px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    vertical-align: middle; }
  .search div .search-btn {
    border-right: 1px dotted #b8b8b8;
    margin-right: -5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: inline-block;
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
            transform: rotate3d(0, 1, 0, 180deg);
    font-size: 20pt;
    font-family: 'LigatureSymbols'; }

.offers {
  padding-top: 20px;
  padding-left: 3px;
  background-color: #fcfcfc;
  width: 100%;
  height: 100%;
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  -moz-column-width: 220px;
  -webkit-column-width: 220px;
  column-gap: 1.5em; }

.offer {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  margin: 0 0 1.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  vertical-align: baseline;
  overflow: hidden;
  width: 220px; }

.offer .image {
  position: relative;
  margin: auto;
  min-height: 40px;
  width: 100%;
  display: block; }

.image div {
  width: 220px; }

.info {
  position: relative;
  font-family: Arial;
  width: 190px;
  padding: 15px 15px 5px 15px;
  height: 145px; }
  .info .name {
    font-weight: bold;
    font-size: 10pt;
    padding-bottom: 15px; }
  .info .tags {
    color: #a8a8a8;
    margin-top: 15px;
    font-size: 8.5pt; }
    .info .tags .theme .date .geo {
      width: 100%;
      display: block; }
  .info .counters {
    position: absolute;
    bottom: 10px;
    color: #a8a8a8;
    font-size: 10pt;
    margin-bottom: -5px; }
    .info .counters span {
      cursor: pointer; }

.comments-panel {
  background-color: #f1f1f1;
  font-size: 10pt;
  width: 100%; }
  .comments-panel .author {
    border-bottom: 1px solid #d7d7d7;
    height: 40px;
    padding: 5px 0 0 15px; }
    .comments-panel .author div {
      display: inline-block; }
      .comments-panel .author div img {
        margin-bottom: 15px; }
    .comments-panel .author div:last-child {
      padding-left: 12px; }
    .comments-panel .author a {
      color: #5574ad;
      cursor: pointer;
      font-family: "PF Agora Sans Pro XThin";
      text-shadow: 0px 0px 0px #5574ad; }
    .comments-panel .author span {
      font-family: Arial;
      display: block;
      font-style: italic;
      color: #a8a8a8; }
  .comments-panel .comments-item {
    border-bottom: 1px solid #d7d7d7;
    font-size: 10pt;
    font-family: Arial;
    height: 40px;
    padding: 5px 0 0 15px;
    line-height: 50%;
    text-shadow: 0px 0px 0px black; }
    .comments-panel .comments-item .comment {
      padding-left: 12px;
      line-height: 40px; }
  .comments-panel .avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px double lightgrey;
    background-color: white;
    vertical-align: middle; }
    .comments-panel .avatar img {
      margin: auto;
      max-height: 25px; }
  .comments-panel .add-comment {
    height: 40px; }
