body {
  width: 100%;
  margin: 0; }

.wrapper {
  width: 974px;
  margin: 0 auto;
  padding: 18px 33px; }

@font-face {
  font-family: 'LigatureSymbols';
  src: url("./fonts/LigatureSymbols-2.07.eot");
  src: url("./fonts/LigatureSymbols-2.07.eot?#iefix") format("embedded-opentype"), url("./fonts/LigatureSymbols-2.07.woff") format("woff"), url("./fonts/LigatureSymbols-2.07.ttf") format("truetype"); }

.offer-menu-bar {
  width: 100%;
  height: 54px;
  list-style: none;
  display: table;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid darkgrey;
  border-radius: 8px;
  text-shadow: 0 0 0 #5574ad;
  font-family: "PF Agora Sans Pro XThin";
  font-size: 11pt; }
  .offer-menu-bar li {
    display: table-cell;
    vertical-align: middle; }
  .offer-menu-bar a {
    width: inherit;
    display: block;
    cursor: pointer; }
  .offer-menu-bar .filter {
    color: #5574AD;
    text-shadow: 0 0 0 #5574ad; }
    .offer-menu-bar .filter a {
      line-height: 25px;
      border-right: 1px dashed #e6e6e6;
      text-align: center; }
      .offer-menu-bar .filter a:first-child {
        padding-right: 5px; }
    .offer-menu-bar .filter:first-child {
      width: 30px;
      padding: 0 9px 0 18px; }
    .offer-menu-bar .filter:last-child {
      width: 70px;
      padding: 0 10px 0 10px; }
  .offer-menu-bar .category {
    height: 25px;
    width: 80px;
    padding-left: 15px;
    vertical-align: middle; }
    .offer-menu-bar .category p {
      display: block;
      position: absolute;
      right: 10px;
      top: -8px;
      font-family: LigatureSymbols; }
    .offer-menu-bar .category a {
      position: relative;
      display: block;
      color: white;
      text-decoration: none;
      vertical-align: middle;
      height: inherit;
      padding: 5px 10px 0 10px;
      border-radius: 5px;
      background: -webkit-linear-gradient(#dd3c9d, #9e2385);
      background: linear-gradient(#dd3c9d, #9e2385);
      -webkit-transition: 0.2s;
      transition: 0.2s; }
      .offer-menu-bar .category a:hover {
        background: -webkit-linear-gradient(#9e2385, #dd3c9d);
        background: linear-gradient(#9e2385, #dd3c9d); }
      .offer-menu-bar .category a:active {
        background: -webkit-linear-gradient(#ca339b, #9e2385);
        background: linear-gradient(#ca339b, #9e2385); }
  .offer-menu-bar .message {
    font-size: 14pt;
    padding-left: 35px; }
    .offer-menu-bar .message a, .offer-menu-bar .message span {
      display: inline-block; }
    .offer-menu-bar .message a {
      text-shadow: 0 0 0 #5574ad;
      color: #5574ad;
      text-decoration: none;
      border-bottom: 1px dotted #5574ad;
      line-height: 11pt; }
  .offer-menu-bar .search div {
    position: relative;
    color: #b8b8b8;
    border: 1px solid #b8b8b8;
    border-radius: 6px;
    height: 25px;
    margin: 0 15px 0 0;
    min-height: 20px; }
    .offer-menu-bar .search div .search-field {
      font-style: italic;
      position: relative;
      top: -6px;
      left: 5px;
      width: 195px;
      border: none;
      outline: none;
      -webkit-appearance: none;
      vertical-align: middle; }
    .offer-menu-bar .search div .search-btn {
      border-right: 1px dotted #b8b8b8;
      margin-right: -5px;
      cursor: pointer;
      width: 25px;
      height: 25px;
      display: inline-block;
      -webkit-transform: rotate3d(0, 1, 0, 180deg);
              transform: rotate3d(0, 1, 0, 180deg);
      font-size: 20pt;
      font-family: LigatureSymbols; }

.offers {
  padding: 20px 0 0 5px;
  margin: auto;
  background-color: #fcfcfc;
  width: 100%;
  height: 100%;
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  -webkit-column-width: 220px;
     -moz-column-width: 220px;
          column-width: 220px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px; }

.offer {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  margin: 0 0 1.5em;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  vertical-align: baseline;
  overflow: hidden;
  width: 220px; }
  .offer .hover {
    position: absolute;
    z-index: 50;
    top: 0px;
    display: none;
    width: 100%;
    color: #f5f8fc;
    font-family: "PF Agora Sans Pro";
    font-size: 10pt;
    text-shadow: 0 0 0 #f5f8fc;
    text-align: center; }
    .offer .hover div {
      background-color: #9479cb;
      cursor: pointer; }
    .offer .hover .buttons {
      padding: 0;
      width: 100%;
      position: absolute;
      top: -20px;
      z-index: 50;
      font-family: LigatureSymbols;
      color: #b7b7b7;
      font-size: 30pt;
      list-style: none;
      display: table; }
      .offer .hover .buttons li {
        display: table-cell;
        vertical-align: middle;
        cursor: pointer; }
      .offer .hover .buttons .like:hover {
        color: #9e2385; }
      .offer .hover .buttons .fav:hover {
        color: #ff1107; }
      .offer .hover .buttons .com:hover {
        color: #2b45ff; }
      .offer .hover .buttons .add:hover {
        color: #ffdf10; }

.offer:hover {
  border: 1px solid #abc9e8;
  box-shadow: 2px -2px #f0f0f0; }
  .offer:hover .hover {
    display: block; }

.offer .image {
  position: relative;
  margin: auto;
  min-height: 40px;
  width: 100%;
  display: block; }

.image div {
  width: 220px; }

.info {
  position: relative;
  font-family: Arial;
  width: 190px;
  padding: 15px 15px 5px 15px;
  height: 145px; }
  .info .name {
    font-weight: bold;
    font-size: 10pt;
    padding-bottom: 15px; }
  .info .tags {
    color: #a8a8a8;
    margin-top: 15px;
    font-size: 8.5pt; }
    .info .tags .theme .date .geo {
      width: 100%;
      display: block; }
  .info .counters {
    position: absolute;
    bottom: 10px;
    color: #a8a8a8;
    font-size: 8.5pt;
    margin-bottom: -5px; }
    .info .counters span {
      cursor: pointer; }

.comments-panel {
  background-color: #f1f1f1;
  font-size: 10pt;
  width: 100%; }
  .comments-panel .author {
    border-bottom: 1px solid #d7d7d7;
    height: 40px;
    padding: 5px 0 0 15px; }
    .comments-panel .author div {
      display: inline-block; }
      .comments-panel .author div img {
        margin-bottom: 15px; }
    .comments-panel .author div:last-child {
      padding-left: 12px; }
    .comments-panel .author a {
      color: #5574ad;
      cursor: pointer;
      font-family: "PF Agora Sans Pro XThin";
      text-shadow: 0px 0px 0px #5574ad; }
    .comments-panel .author span {
      font-family: Arial;
      display: block;
      font-style: italic;
      cursor: default;
      color: #a8a8a8; }
  .comments-panel .comments {
    display: none; }
  .comments-panel .comments-item {
    border-bottom: 1px solid #d7d7d7;
    font-size: 8.5pt;
    position: relative;
    font-family: Arial;
    height: 40px;
    padding: 5px 0 0 15px;
    line-height: 50%;
    text-shadow: 0px 0px 0px black; }
    .comments-panel .comments-item .comment {
      float: left;
      width: calc(100% - 46px);
      margin-left: 15px;
      line-height: initial;
      max-height: 18pt;
      overflow: hidden;
      text-overflow: ellipsis; }
  .comments-panel .comments-item .avatar {
    float: left; }
  .comments-panel .avatar {
    height: 25px;
    width: 25px; }
  .comments-panel .add-comment {
    height: 40px;
    display: none; }
    .comments-panel .add-comment input {
      width: 150px; }

.avatar {
  border-radius: 50%;
  border: 3px double lightgrey;
  background-color: white;
  overflow: hidden;
  vertical-align: middle; }
  .avatar img {
    margin: auto;
    width: 100%; }

.like-active {
  color: #b13897; }

.add-active {
  color: #613a9f; }

.offer-active .add-comment, .offer-active .comments {
  display: block !important; }

.delete {
  display: none;
  position: absolute;
  right: 5px;
  cursor: pointer;
  top: 40%; }

.popup-bg {
  z-index: 100;
  display: none;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0; }

.popup {
  overflow: auto;
  height: 800px;
  margin: 40px auto 0px auto;
  width: 810px;
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000; }
  .popup .popup-info {
    padding: 10px; }
  .popup .left-column {
    display: inline-block;
    float: left;
    width: 530px;
    border-right: 1px solid lightgrey;
    margin-bottom: -10px;
    padding-right: 40px;
    padding-left: 40px; }
  .popup .right-column {
    display: inline-block;
    float: right;
    width: 160px; }
    .popup .right-column .buttons {
      margin-top: 78px; }
      .popup .right-column .buttons span {
        display: block;
        background: -webkit-linear-gradient(#d4d4d4, #e8e8e8, #f1f1f1);
        background: linear-gradient(#d4d4d4, #e8e8e8, #f1f1f1);
        margin: 5px auto;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        max-width: 70%;
        cursor: pointer;
        border: 1px solid lightgray; }
  .popup .gradient {
    background-image: -webkit-linear-gradient(bottom, rgba(198, 83, 165, 0.95) 0%, rgba(198, 86, 51, 0.95) 100%);
    background-image: linear-gradient(0deg, rgba(198, 83, 165, 0.95) 0%, rgba(198, 86, 51, 0.95) 100%);
    -webkit-mask-image: -webkit-linear-gradient(bottom, transparent 0%, black 100%);
            mask-image: linear-gradient(0deg, transparent 0%, black 100%); }
  .popup h3 {
    font-weight: bold;
    font-size: 24px;
    margin: 25px 0 0 0; }
  .popup .offer-type {
    color: lightgrey;
    display: inline-block;
    margin-bottom: 7.5px; }
  .popup .avatar {
    height: 50px;
    width: 50px; }
  .popup .description {
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 10px; }
  .popup .feeds {
    width: 100%;
    background: #d7d7d7;
    margin-top: 10px;
    margin: -10px;
    padding: 10px; }
    .popup .feeds .feed {
      content: "";
      display: table;
      clear: both; }
    .popup .feeds .avatar-wrapper {
      width: 50px;
      float: left; }
    .popup .feeds .text {
      width: calc(100% - 50px);
      float: left; }
  .popup .add-feed {
    display: table; }
  .popup .add-feed textarea {
    width: 645px;
    height: 55px; }

.popup-head {
  margin: -10px;
  padding: 10px;
  border-bottom: 1px solid lightgrey; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.popup-close {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer; }
  .popup-close span {
    font-family: monospace;
    font-size: 18px; }

.scroll {
  overflow: hidden; }
