.offer-menu-bar {
  width: 100%;
  height: 50px;
  list-style: none;
  display: table;
  padding: 0;
  margin: 0;
  border: 1px solid darkgrey;
  border-radius: 8px;
}
  li {
    display: table-cell;
    vertical-align: middle;
  }
    .filter:first-child {
      padding: 0 0 0 24px;
      border: 1px dashed darkgrey;
    }
    .filter:last-child {

    }
    a {
      display: block;
    }


