body {
  width: 100%;
}
.wrapper {
  width: 1018px;
  margin: 0 auto 0 auto;
  background-color: aliceblue;
}
  .offer-menu-bar {
    width: 950px;
    height: 50px;
    margin: 20px 36px 20px 36px;
    background-color: indianred;
  }

  .popup {
    display: none;
  }